.post-body h1 { font-size: 44px; line-height: 34px; margin: 10px 0 }
.post-body h2 { font-size: 24px; line-height: 40px; margin: 10px 0 }
.post-body h3 { font-size: 20px; line-height: 34px; margin: 10px 0 }
.post-body h4 { font-size: 26px; line-height: 36px; margin: 10px 0 }
.post-body h5 { font-size: 24px; line-height: 34px; margin: 10px 0 }
.post-body h6 { font-size: 18px; line-height: 24px; margin: 10px 0 }

.main-wrapper { margin-right: 355px }  .sidebar-wrapper { display: block }
@media (max-width: 1040px) {.main-wrappers { margin-right: 315px } .sidebar-wrappers { width: 400px;float:center } } 
@media (max-width: 850px) {.main-wrapper { margin-right: 0 } .sidebar-wrapper { float:none; margin: 0 auto } }
 
#related-article i, .panel{background-image: -webkit-repeating-linear-gradient(135deg, #eaeaea, #eaeaea 1px, transparent 2px, transparent 2px, #eaeaea, #eaeaea 3px); background-image: -moz-repeating-linear-gradient(135deg, #eaeaea, #eaeaea 1px, transparent 2px, transparent 2px, #eaeaea, #eaeaea 3px); background-image: -o-repeating-linear-gradient(135deg, #eaeaea, #eaeaea 1px, transparent 2px, transparent 2px, #eaeaea, #eaeaea 3px); background-image: repeating-linear-gradient(135deg, #eaeaea, #eaeaea 1px, transparent 2px, transparent 2px, #eaeaea, #eaeaea 3px); -webkit-background-size: 4px 4px; -moz-background-size: 4px 4px; background-size: 4px 4px;
display:block; margin:3px 0 14px; height:12px; width:100%; position:relative;}
#related-article h4{background:#fff; top:-6px; padding-right:2%; font-style:normal; font-size:18px; margin:0 0 25px; font-weight:600; position:absolute}     #related-article{margin:15px 0}  .bimb{position:relative;height:160px}
#related-article ul li{margin-right:2%; width:32%; display:inline-block}      #related-article ul li:last-child{margin:0}
#related-article h3 a{margin:10px 0 0; color:#606060; font-size:16px; line-height:20px; display:inline-table; transition:all .3s;}
#related-article h3 a:hover{color: #358da1}  #related-article img{transition: all .3s ease-out; width: 100%; display: block; height: 100%}
.fb-cmt{border:1px solid #e5e5e5;background:#f2f2f2;border-radius:10px;padding-top:10px;margin:5px 0 15px;font: 16px Roboto}
@media (max-width: 1050px) and (min-width:850px){.bimb{height:120px}}@media (max-width:720px) and (min-width:580px){.bimb{height:130px}}
@media (max-width:580px) and (min-width:420px){#related-article ul li{width:48%;margin-right:4%}#related-article h3 a{margin:3px 0 10px}}
@media (max-width:420px){#related-article ul li{width:100%;margin:5px 0}#related-article h3 a{margin:3px 0 10px} #related-article{margin-top:20px}}
